div#amsReadings div.region div.city{
  position:relative;
}
div#amsReadings div.region div.city.city-benicia{
  display:block;
}
div#amsReadings div.region div.city.city-hide{
  display:none;
}
div#amsReadings div.region div.city.city-show{
  display:block;
}
div#amsReadings div.region div.city div.reading ul li.data[data-level=great]{
  color:#4CAF50;
}
div#amsReadings div.region div.city div.reading ul li.data[data-level=good]{
  color:#FFEB3B;
}
div#amsReadings div.region div.city div.reading ul li.data[data-level=bad]{
  color:#FF9800;
}
div#amsReadings div.region div.city div.reading ul li.data[data-level=dangerous]{
  color:#F44336;
}